h1{
    color:rgb(55, 208, 193);

        font-size: 20px;          
}
heading
h2{
    color:rgb(186, 110, 29);

        font-size: 20px;          
}

imageContainer{
    width: 50% 
    border: solid brown

}
img{
      border-color: bisque;
      border-style: dotted;
      border-width: 4px;

      border: 5px;
      padding: 7px;
      margin-top: 20px; ;
      margin-bottom: 30px ;
}




h3{
    color:rgb(117, 100, 82);

        font-size: 20px;          
}