
Align-content:center

lable.logo{

    color: #070606;
    line-height: 50px
    padding: 30px;
    text-decoration: none;
    font-size: 50px;       
}

.topnav {
    background-color: #6b5c0927;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #070606;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 50px;
  }
  
 
  .topnav a:hover {
    background-color: #8a7d7d;
    color: black;
  }
  

  .topnav a.active {
    background-color: #363336;
    color: white;
  }

  <style>
  <body{
      margin: 0;
      padding: 0;
      background-color: beige;

  }
  .nav ul {
      list-style: none;
      background-color: #b2a3a3;
      text-align: center;
      padding: 0.7%;
      margin: 0%;
  }

  .nav li {
      display: inline-block;

  }
  .nav a {
      text-decoration: solid;
      color: rgb(0, 0, 0);
      width: 180px;
      display: block;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

  }
  .nav a:hover {
      background-color: rgb(206, 187, 171);
      transition: 0.10s;
  }
  


  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 64px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }

</style>

