
body {
  font-family:'Trebuchet MS';
  margin: 0;
  padding: 0;
  background-color: #dabcbca0;
}


/* Navigation Bar */
.topnav a {
  float: left;
  color: #070606;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 60px;
}

.topnav a:hover {
  background-color: #8a7d7d;
  color: rgb(233, 221, 221);
}

.topnav a.active {
  background-color: #8a7d7d;
  color: rgba(134, 134, 134, 0.764);
}

/* Navigation Bar */
.nav ul {
    list-style: none;
    background-color: #6f63631f;
    text-align: center;
    padding: 0.7%;
    margin: 0%;
}

/* Navigation Bar Font Layout */
.nav li {
    display: inline-block;
}

/* Navigation Bar Font */
.nav a {
    text-decoration: none; /* Updated to a valid value */
    color: #fff;
    width: 180px;
    display: block;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

/*Cursor hover*/
.nav a:hover {
    background-color: #c7a17b;
    transition: 0.10s;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: #6f636329;
  color: #fff;
}

/* Main Page */
* {
  box-sizing: border-box;
}

.container {
  padding: 64px;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both
}

/* 2/3 column */
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/3 column */
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
}

/* Button Styles */
.button-link {
  text-decoration: none;
  display: inline-block;
}

.button-link:hover {
  opacity: 0.8;
}

.button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(120, 83, 53, 0.8);
}

/* Week 1-4 Zigzag Styles */
#content {
  max-width: 500px;
  margin: 2em auto;
  padding: 1em;
}

.zigzag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.zigzag-column {
  flex: 0 1 calc(50% - 50px); /* Two columns per row */
  margin-bottom: 20px;
  background-color: #c2b29a;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

/* Additional styles for Week 1-4 specific content */
.zigzag-column h2 {
  color: rgb(8, 6, 4);
  padding-bottom: 10px; /* Add padding to the bottom of each header */
}
