
Align-content: center

lable.logo{

    color: #070606;
    line-height: 50px
    padding: 30px;
    text-decoration: none;
    font-size: 45px;        
}

.topnav {
    background-color: #6b5c0927;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #070606;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: #8a7d7d;
    color: black;
  }
  

  .topnav a.active {
    background-color: #363336;
    color: white;
  }

  <style>
  <body{
      margin: 0;
      padding: 0;
      background-color: beige;

  }
  .nav ul {
      list-style: none;
      background-color: #b2a3a3;
      text-align: center;
      padding: 0.7%;
      margin: 0%;
  }

  .nav li {
      display: inline-block;

  }
  .nav a {
      text-decoration: solid;
      color: rgb(0, 0, 0);
      width: 180px;
      display: block;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

  }
  .nav a:hover {
      background-color: rgb(206, 187, 171);
      transition: 0.10s;


  }

  

</style>

heading
h2{
    color:rgb(186, 110, 29);

        font-size: 20px;          
}